---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Me">
  <h1
    class="dark:after:bg-silver-chalice-100 after:bg-silver-chalice-950 text-silver-chalice-950 mb-4 text-[7vw] gap-0.5 dark:text-silver-chalice-100"
  >
    it's me, Adrián Villalba
  </h1>
  <h2 class="text-silver-chalice-950 italic text-2xl">
    Front-End developer, building UIs with React since 2018
  </h2>
</Layout>
