---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Adrian Villalba">
	<main>
		<h1 class="text-silver-chalice-950 text-xl">hi there, it's Adrian Villalba!</h1>
		<p class="text-silver-chalice-950">Text goes here</p>
	</main>
</Layout>
