<div
  class="flex flex-col gap-4 border-r-2 pr-4 dark:text-silver-chalice-100 dark:border-silver-chalice-100 border-silver-chalice-950 text-silver-chalice-950 h-40"
>
  <a
    href="/"
    class="hover:text-silver-chalice-800 dark:hover:text-silver-chalice-400"
    >/</a
  >
  <a
    href="/about"
    class="hover:text-silver-chalice-800 dark:hover:text-silver-chalice-400"
    >about</a
  >
  <a
    href="/experience"
    class="hover:text-silver-chalice-800 dark:hover:text-silver-chalice-400"
    >experience</a
  >
  <a
    href="/blog"
    class="hover:text-silver-chalice-800 dark:hover:text-silver-chalice-400"
    >blog</a
  >
</div>
